@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,900&display=swap');

:root{
    --color-text: rgb(221, 211, 211);
    --color-p: rgb(201, 201, 201);
    --color-button: rgb(204, 101, 101);

    
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    min-height: 1000px;
}

.banner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url("./assets/bg1.jpg");
    background-position: center;
    background-size: cover;
    
}

.banner .content{
    text-align: center;
    max-width: 1000px;
}

.banner .content h2{
    font-size: 4em;
    color: var(--color-text);
}

.banner .content p{
    font-size: 1.2em;
    color: var(--color-p);
    /* margin-bottom: 20px; */
}

/* .banner .content */
 .btn {
    color: #000;
    display: inline-block;
    font-size: 1em;
    background: var(--color-button);
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}
/* .banner .content  */
.btn:hover{
    letter-spacing: 5px;
}

header{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    transition: 0.5s;
}

.sticky{
    background: #fff;
    padding: 10px 20px;
}

header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 900;
}

.sticky .logo{
    color: #000;
}

header .logo span {
    color: var(--color-button);
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header .navigation li a:hover{
    color: var(--color-button);
}

.sticky .navigation li a{
    color: #000
}


/* ABOUT */

.about {
    padding: 50px;
}

.about .row{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about .row .col50 {
    width: 48%;
    position: relative;
}

.titleText{
    color: #222;
    font-size: 2em;
    font-weight: 400;
}

.titleText span{
    color: var(--color-button);
    font-weight: 500;
    font-size: 1.5em;
}

.row .col50 .imgbx{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.row .col50 .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PROJECTS */

.projects{
    padding: 50px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title a {
    color: #000;
}
/* PROJECTS */
.projects .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.projects .content .box .imgbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.projects .content .box .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT */

.contact{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
    max-width: 500px;
    margin-top: 50px;
}

.contact .contactForm{
    pad: 30px;
}

.contactForm h3{
    color: #111;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox textarea, 
.contactForm .inputBox input {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    resize: none;
}